{% extends "base.html" %}
{% block title %} Group logs {{ group.title }} {% endblock %}

{% block content %}
    <div class="container">
           <h3 align="center" style="color:gray"> Group logs {{ group.title }} </h3>
                {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}
