<nav class="navbar navbar-light" style="background-color: #DCDCDC;">
    <a class="navbar-brand" href="/"><span style="color:red">Alexx</span>book</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <!--<a class="p-2 text-dark" href="{% url 'new_post' %}">Добавить запись</a> |-->
        {% if user.is_authenticated %}
        It's you: {{ user.username }} |
        <a class="p-2 text-dark" href="{% url 'new_post' %}">New post</a> |
        <a class="p-2 text-dark" href="{% url 'password_change' %}">Change password</a> |
        <a class="p-2 text-dark" href="{% url 'logout' %}">Exit</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Sign in</a> |
        <a class="p-2 text-dark" href="{% url 'signup' %}">New user?</a>
        {% endif %}
    </nav>
</nav>
